<!-- this is the partial for the toy creation form -->

<h2>Create your Toy!</h2>
<form ng-submit="toyCtrl.createToy()">
  <input type="text" ng-model="toyCtrl.newToyName" placeholder="toy name"/>
  <input type="text" ng-model="toyCtrl.newToyDescription" placeholder="toy description"/>
  <input type="submit" value="submit toy" />
</form>
